@import "tailwindcss";

:root {
  --background: hsla(0, 0%, 0%);
  --foreground: hsla(0, 0%, 100%);
  --muted: hsla(0, 0%, 60%);
  --border: hsla(0, 0%, 20%);
  --secondary: hsla(0, 0%, 10%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-secondary: var(--secondary);
}

html, body {
  background-color: var(--background);
  color: var(--foreground);
}